
<div id="carouselExampleDark" class="carousel carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item " [ngClass]="{'active' :f}" data-bs-interval="3000" *ngFor="let item of movie ; first as f ">
      <img [src]="'https://image.tmdb.org/t/p/original'+item.backdrop_path" class="d-block w-100" [alt]="item.original_title">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{item.original_title}}</h5>
        <p>{{item.overview}}</p>
      </div>
    </div>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item " [ngClass]="{'active' :f}" data-bs-interval="1000" *ngFor="let tv of tvs ; first as f ">
      <img [src]="'https://image.tmdb.org/t/p/original'+tv.backdrop_path" class="d-block w-100" [alt]="tv.original_name">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{tv.original_name}}</h5>
        <p>{{tv.overview}}</p>
      </div>
    </div>
  </div>
</div>

