
<div class="row">
  <div class="col-md-10 mx-5 my-2">
    <div class="grid">
      <input (change)="search()" [(ngModel)]="searchValue" type="search" class="form-control" placeholder="Search the Movies">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-lg-2 col-sm-6" *ngFor="let tv of PopularTv">
    <div class="card my-2">
    <app-card [tv]="tv"></app-card>
  </div>
</div>

 <div class="row">
  <div class="col-md-12" >
   <p-paginator (onPageChange)="paginate($event)"  [rows]="20" [totalRecords]="7341"></p-paginator>
  </div>
 </div>
